[build]
  command = "npm run build"
  publish = ".output/public"

[build.environment]
  NODE_VERSION = "20"

# Nuxt 3 on Netlify is automatically detected. 
# Nitro will use the 'netlify' preset by default.
